input[type=range].clsHtmlSlider
{
	-webkit-appearance: none;
	border: 1px solid white;
	width: 300px;
}
input[type=range].clsHtmlSlider::-webkit-slider-runnable-track
{
	width: 300px;
	height: 5px;
	background: #DDDDDD;
	border: none;
	border-radius: 3px;
}
input[type=range].clsHtmlSlider::-webkit-slider-thumb
{
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #25446B;
	margin-top: -4px;
}
input[type=range].clsHtmlSlider:focus
{
	outline: none;
}
input[type=range].clsHtmlSlider:focus::-webkit-slider-runnable-track
{
	background: #CCCCCC;
}

input[type=range].clsHtmlSlider::-moz-range-track
{
	width: 300px;
	height: 5px;
	background: #DDDDDD;
	border: none;
	border-radius: 3px;
}
input[type=range].clsHtmlSlider::-moz-range-thumb
{
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #4178be;
}

input[type=range].clsHtmlSlider:-moz-focusring
{
	outline: 1px solid white;
	outline-offset: -1px;
}

input[type=range].clsHtmlSlider::-ms-track
{
	width: 300px;
	height: 5px;
	background: transparent;
	border-color: transparent;
	border-width: 6px 0;
	color: transparent;
}
input[type=range][rangeType=min].clsHtmlSlider::-ms-fill-lower
{
	background: #4178be;
	border-radius: 10px;
}
input[type=range][rangeType=min].clsHtmlSlider::-ms-fill-upper
{
	background: #DDDDDD;
	border-radius: 10px;
}
input[type=range][rangeType=max].clsHtmlSlider::-ms-fill-lower
{
	background: #DDDDDD;
	border-radius: 10px;
}
input[type=range][rangeType=max].clsHtmlSlider::-ms-fill-upper
{
	background: #4178be;
	border-radius: 10px;
}
input[type=range].clsHtmlSlider::-ms-thumb
{
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #4178be;
}
input[type=range][rangeType=min].clsHtmlSlider:focus::-ms-fill-lower
{
	background: #4178be;
}
input[type=range][rangeType=min].clsHtmlSlider:focus::-ms-fill-upper
{
	background: #CCCCCC;
}
input[type=range][rangeType=max].clsHtmlSlider:focus::-ms-fill-lower
{
	background: #CCCCCC;
}
input[type=range][rangeType=max].clsHtmlSlider:focus::-ms-fill-upper
{
	background: #4178be;
}
